In [1]:
import pandas as pd

In [1]:
df = pd.read_csv('./종관기상_지점별_연·월_통계_20220826105621.csv',encoding='euc_kr')
df.head()

,시점,관측지점별,평균기온 (℃),평균최고기온 (℃),평균최저기온 (℃),최고기온 (℃),최저기온 (℃),합계강수량 (mm),평균지면온도 (℃)
0,2011,속초,12.1,16.0,8.4,35.7,-13.2,1656.1,13.2
1,2011,철원,9.8,16.0,4.2,34.3,-24.3,1656.3,12.2
2,2011,동두천,10.7,16.8,5.9,35.2,-19.1,2311.2,13.3
3,2011,파주,10.4,16.7,5.1,34.1,-23.0,2063.3,13.1
4,2011,대관령,6.8,11.8,1.7,28.3,-23.8,1762.1,8.5

In [2]:
df['관측지점별'].unique()

array(['속초', '철원', '동두천', '파주', '대관령', '춘천', '백령도', '북강릉', '강릉', '동해',
       '서울', '인천', '원주', '울릉도', '수원', '영월', '충주', '서산', '울진', '청주', '대전',
       '추풍령', '안동', '상주', '포항', '군산', '대구', '전주', '울산', '창원', '광주', '부산',
       '통영', '목포', '여수', '흑산도', '완도', '고창', '진도(첨찰산)', '제주', '고산', '성산',
       '서귀포', '진주', '강화', '양평', '이천', '인제', '홍천', '태백', '정선', '제천', '보은',
       '천안', '보령', '부여', '금산', '부안', '임실', '정읍', '남원', '장수', '고창군', '영광',
       '김해', '순창', '북창원', '양산', '보성', '강진', '장흥', '해남', '고흥', '의령', '함양',
       '광양', '봉화', '영주', '문경', '청송', '영덕', '의성', '구미', '영천', '경주', '거창',
       '합천', '밀양', '산청', '거제', '남해', '순천', '진도', '북춘천', '홍성', '세종'],
      dtype=object)

In [2]:
addr_aliases={'강릉':'강원도', '강진':'전라남도', '강화':'인천광역시', '거제':'경상남도', '거창':'경상남도', 
             '경주':'경상북도', '고산':'제주도', '고창':'전라북도', '고창군':'전라북도', '고흥':'전라남도',
             '광양':'전라남도', '광주':'광주광역시', '구미':'경상북도', '군산':'전라북도', '금산':'충청남도',
             '김해':'경상남도', '남원':'전라북도', '남해':'경상남도', '대관령':'강원도', '대구':'대구광역시',
             '대전':'대전광역시', '동두천':'경기도', '동해':'강원도', '목포':'전라남도', '문경':'경상북도',
             '밀양':'경상남도', '백령도':'인천광역시', '보령':'충청남도', '보성':'전라남도', '보은':'충청북도',
             '봉화':'경상북도', '부산':'부산광역시', '부안':'전라북도', '부여':'충청남도', '북강릉':'강원도',
             '북창원':'경상남도', '북춘천':'강원도', '산청':'경상남도', '상주':'경상북도', '서귀포':'제주도',
             '서산':'충청남도', '서울':'서울특별시', '성산':'제주도', '세종':'세종특별자치시', '속초':'강원도',
             '수원':'경기도', '순창':'전라북도', '순천':'전라남도', '안동':'경상북도', '양산':'경상남도',
             '양평':'경기도', '여수':'전라남도', '영광':'전라남도', '영덕':'경상북도', '영월':'강원도', '영주':'경상북도',
             '영천':'경상북도', '완도':'전라남도', '울릉도':'경상북도', '울산':'울산광역시', '울진':'경상북도',
             '원주':'경상북도', '의령':'경상남도', '의성':'경상북도', '이천':'경기도', '인제':'강원도', '인천':'인천광역시',
             '임실':'전라북도', '장수':'전라북도', '장흥':'전라남도', '전주':'전라북도', '정선':'강원도', '정읍':'전라북도',
             '제주':'제주도', '제천':'충청북도', '진도':'전라남도', '진도(첨찰산)':'전라남도', '진주':'경상남도',
             '창원':'경상남도', '천안':'충청남도', '철원':'강원도', '청송':'경상북도', '청주':'충청북도', 
             '추풍령':'충청북도', '춘천':'강원도', '충주':'충청북도', '태백':'강원도', '통영':'경상남도', '파주':'경기도',
             '포항':'경상북도', '함양':'경상남도', '합천':'경상남도', '해남':'전라남도', '홍성':'충청남도', '홍천':'강원도',
             '흑산도':'전라남도'}

In [ ]:
# dict.get(key[,default])
# - key에 해당하는 값이 없으면 default값을 리턴
df['대분류']=df['관측지점별'].apply(lambda x:addr_aliases.get(x,x))

In [4]:
df

,시점,관측지점별,평균기온 (℃),평균최고기온 (℃),평균최저기온 (℃),최고기온 (℃),최저기온 (℃),합계강수량 (mm),평균지면온도 (℃),대분류
0,2011,속초,12.1,16.0,8.4,35.7,-13.2,1656.1,13.2,강원도
1,2011,철원,9.8,16.0,4.2,34.3,-24.3,1656.3,12.2,강원도
2,2011,동두천,10.7,16.8,5.9,35.2,-19.1,2311.2,13.3,경기도
3,2011,파주,10.4,16.7,5.1,34.1,-23.0,2063.3,13.1,경기도
4,2011,대관령,6.8,11.8,1.7,28.3,-23.8,1762.1,8.5,강원도
...,...,...,...,...,...,...,...,...,...,...
1019,2021,합천,13.9,20.4,8.5,36.6,-16.6,1146.4,16.8,경상남도
1020,2021,밀양,14.5,21.0,9.1,37.8,-14.2,1202.5,16.4,경상남도
1021,2021,산청,13.6,19.9,8.3,36.3,-14.5,1142.8,15.7,경상남도
1022,2021,거제,15.2,19.5,11.3,34.0,-9.9,2227.9,17.0,경상남도
1023,2021,남해,15.1,19.9,11.0,35.5,-11.5,1981.4,17.1,경상남도

In [5]:
df.to_csv('2011~2021년 통계청 자료.csv',encoding='utf-8')

In [4]:
df2 = pd.read_csv('./dd.csv',encoding='euc_kr')
df2.head()

     시점 관측지점별  평균기온 (℃)
0  2000    속초      12.0
1  2000    철원      10.2
2  2000   동두천      11.0
3  2000   대관령       6.9
4  2000    춘천      11.1

In [7]:
df2['대분류']=df2['관측지점별'].apply(lambda x:addr_aliases.get(x,x))

In [8]:
df2

        시점 관측지점별  평균기온 (℃)   대분류
0     2000    속초      12.0   강원도
1     2000    철원      10.2   강원도
2     2000   동두천      11.0   경기도
3     2000   대관령       6.9   강원도
4     2000    춘천      11.1   강원도
...    ...   ...       ...   ...
1568  2018    합천      13.3  경상남도
1569  2018    밀양      13.8  경상남도
1570  2018    산청      13.1  경상남도
1571  2018    거제      15.0  경상남도
1572  2018    남해      14.6  경상남도

[1573 rows x 4 columns]

In [10]:
df2.to_csv('2000~2018년 기온.csv')

In [3]:
df3 = pd.read_csv('./종관기상_지점별_연·월_통계_20220827141137.csv',encoding='euc_kr')
df3.head()

,시점,관측지점별,평균기온 (℃),평균최고기온 (℃),평균최저기온 (℃),최고기온 (℃),최저기온 (℃),합계강수량 (mm),평균지면온도 (℃)
0,2002,속초,12.0,16.3,8.0,36.6,-11.0,1550.3,13.3
1,2002,철원,10.1,16.1,4.5,34.4,-24.4,1289.3,12.0
2,2002,동두천,11.1,17.5,5.8,35.6,-20.4,1261.1,14.3
3,2002,파주,10.8,16.9,5.4,35.0,-21.8,1225.0,12.6
4,2002,대관령,7.5,12.7,2.9,30.6,-19.2,2697.6,9.1

In [4]:
df3['대분류']=df3['관측지점별'].apply(lambda x:addr_aliases.get(x,x))

In [5]:
df3

,시점,관측지점별,평균기온 (℃),평균최고기온 (℃),평균최저기온 (℃),최고기온 (℃),최저기온 (℃),합계강수량 (mm),평균지면온도 (℃),대분류
0,2002,속초,12.0,16.3,8.0,36.6,-11.0,1550.3,13.3,강원도
1,2002,철원,10.1,16.1,4.5,34.4,-24.4,1289.3,12.0,강원도
2,2002,동두천,11.1,17.5,5.8,35.6,-20.4,1261.1,14.3,경기도
3,2002,파주,10.8,16.9,5.4,35.0,-21.8,1225.0,12.6,경기도
4,2002,대관령,7.5,12.7,2.9,30.6,-19.2,2697.6,9.1,강원도
...,...,...,...,...,...,...,...,...,...,...
1711,2021,합천,13.9,20.4,8.5,36.6,-16.6,1146.4,16.8,경상남도
1712,2021,밀양,14.5,21.0,9.1,37.8,-14.2,1202.5,16.4,경상남도
1713,2021,산청,13.6,19.9,8.3,36.3,-14.5,1142.8,15.7,경상남도
1714,2021,거제,15.2,19.5,11.3,34.0,-9.9,2227.9,17.0,경상남도
1715,2021,남해,15.1,19.9,11.0,35.5,-11.5,1981.4,17.1,경상남도

In [6]:
df3.to_csv('2002~2021년 통계청 자료.csv')